<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">		
	</head>
	<body>
		<nav id="sidebar">
			<% for (let i = 0; i < games.length; i++) %> 
				<a>
					<%= games[i].title %>
				</a>
			<% } %>
		</nav>
		<div id="header">

		</div>
		<div id="content">
			<h1>
				Test
			</h1>
		</div>
	</body>
</html>